* {

    font-family: "Comic Sans MS", cursive, sans-serif;
}

.bold {
    font-weight: bold;
}

.content {
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.connect {
    font-size: 40px;
    color: #1679bb;
    background-image: linear-gradient(to right, #c3ca37, white);
}

.contactinfo {
    list-style-type: none;
}