.footer {
    width: 960px;
    height: 80px;
    margin: 0 auto;
}

.sitemap{
    display: inline;
    color: black;
    text-decoration: none;
    position: relative;
    left: 200px;
}

.backtop {
    position: fixed;
    bottom: 100px;
    right: 10px;
    width: 50px;
    text-align: center;
    color: #1679bb;
    text-decoration: none;
}