.header {
    max-width: 960px;
    height: 100px;
    margin: 0 auto;
    padding: 2px;
}


.logo {
    float: left;
}

.nav {
    float: right;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

/* .navbar-nav {
    float: right;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
} */

.nav a {
    height: 35px;
    text-align: center;
}

.nav a:link,
.nav a:visited {
    text-decoration: none;
    background-color: white;
    color: #1679bb;
}

.nav a:hover {
    background-color: #c3ca37;
}