.App {
  max-width: 960px;
  margin: 0 auto;
  
}

.Header {
  height: 125px;
  max-width: 960px;
  margin: 0 auto;
  padding: 2px;
}

.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 100px;
  color: #1679bb;
  
}

.HRline{
  height: 1px; 
  max-width:960px;
  background-color:#1679bb;
}

.Home{
  min-height: 100px;
  display: block;
}

.mainpic{
  max-width: 100%;
  height: auto;
}

.midLine{
  width: 1px;
  background-color: black;
}

.inputArea{
  width: 100%;
}
