

.App {
  
  margin: 0 auto;

  /* box-sizing: content-box; */
  padding: 0;
} 


.Header {
  background-color: #79c1cf;
  
  max-width:960px;
  /* padding: 0; */
}

.Home{
 
  padding: 0;
  max-width:960px;
}

.IntroSection{
  
  padding: 2px;
}


.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 100px;
  color: #1679bb;
  
}

.HRline{
  height: 1px; 
  max-width:960px;
  background-color:#1679bb;
}



.midLine{
  width: 1px;
  background-color: black;
}

.inputArea{
  width: 100%;
}

.validateNote{
  color: red;
  font-size: small;
  line-height:100%;
}

.ContactForm{
  position: relative;
  
}