* {

    font-family: "Comic Sans MS", cursive, sans-serif;
}

.bold {
    font-weight: bold;
}

.content {
    max-width: 960px;
    min-height: 340px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}


.main {
    max-width: 960px;
    min-height: 330px;
    margin: 0 auto;
}

.mainleft {
    float: left;
    min-height: 320px;
    padding-bottom: 5px;
}

.welcome {
    color: #1679bb;
    font-size: 25px;
}

.mainright {
    float: left;
    min-height: 285px;
    
}

.rightpic {
    float: left;
    width: 30%;
    min-height: 225px;
    padding-left: 5%
    
}

.righttext {
    float: right;
    width: 60%;
    min-height: 225px;
}


.socialicon{
        display: flex;
        flex-flow: row nowrap;
        min-height: 60px;    
        justify-content: space-around;
        padding-left: 30px;
        padding-right: 30px;
}

.socialicon ul {
    margin: 0 auto;
    width: 100%;
}

.socialicon li {
    float: left;
    width: 57px;
    list-style: none;
}